.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 32px;
    position: relative;
}

.headerLeft {
    display: flex;
    align-items: center;
}

.header .headerLeft span {
    width: 16px;
    height: 16px;
    margin-right: 16px;
    display: inline-block;
    border-radius: 50%;
}

.header .headerLeft p {
    font-size: var(--text-preset-2);
    font-weight: bold;
}

.dropdownMenu {
    padding: 12px 20px;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 32px;
    right: 0;
    background-color: var(--white);
    border-radius: 8px;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px, rgba(17, 17, 26, 0.1) 0px 24px 80px;
}

.dropdownMenu button {
    width: 75px;
    text-align: left;
    font-size: var(--text-preset-4);
}

.dropdownMenu button:hover {
    text-decoration: underline;
}

.dropdownMenu button:first-child {
    border-bottom: 1px solid var(--beige-100);
    margin-bottom: 12px;
    padding-bottom: 12px;
}

.dropdownMenu button:last-child {
    color: var(--red);
}