.container {
    width: 300px;
    height: 100%;
    min-height: 100vh;
    position: fixed;
    left: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    background-color: var(--grey-900);
    border-radius: 0 12px 12px 0;
    transition: width 1s ease;
    z-index: 100;
}

/* Logo */
.logoContainer {
    width: 100%;
    height: 102px;
    padding: 40px 0 40px 32px;
    position: relative;
    margin-bottom: 24px;
}

.logoContainer>:nth-child(2) {
    display: none;
}


/* Nav */
.navContainer ul {
    display: flex;
    flex-direction: column;
}

.navContainer ul li {
    width: calc(100% - 24px);
    display: flex;
}

.navContainer ul li a>:nth-child(2) {
    opacity: 1;
    transition: all 4s;
}

.navContainer ul li a {
    width: 100%;
    display: flex;
    align-items: center;
    padding: 16px 0 16px 32px;
    color: var(--grey-300);
    font-size: var(--text-preset-3);
    font-weight: bold;
}

.navContainer ul li a:hover {
    filter: brightness(2)
}

.navContainer ul li a img {
    margin-right: 16px;
}

/* Minimize Button */
.minimizeButtonContainer {
    width: 100%;
    padding: 16px 0 16px 32px;
    display: flex;
    align-items: center;
    position: absolute;
    bottom: 58px;
    left: 0;
    font-size: var(--text-preset-3);
    font-weight: bold;
    color: var(--grey-300);
    transition: all .2s;
}

.minimizeButtonContainer:hover {
    filter: brightness(2)
}

.minimizeButtonContainer img {
    margin-right: 16px;
}

.minimizeButtonContainer>:nth-child(2) {
    display: none;
}

/* Minimize Header Active */
.minimize {
    width: 90px;
}

.minimize .logoContainer>:nth-child(1) {
    display: none;
}

.minimize .logoContainer>:nth-child(2) {
    display: flex;
}

.minimize .navContainer ul li {
    width: calc(100% - 8px);
}

.minimize .navContainer ul li a>:nth-child(2) {
    opacity: 0;
    transition: all 0ms
}

.minimize .minimizeButtonContainer>:nth-child(1),
.minimize .minimizeButtonContainer>p {
    display: none;
}

.minimize .minimizeButtonContainer>:nth-child(2) {
    display: flex;
}

/* Responsive */
@media only screen and (max-width: 1023px) {
    .container {
        width: 100%;
        height: 74px;
        min-height: unset;
        border-radius: 8px 8px 0 0;
        transition: all 0ms;
    }

    .navContainer,
    .navContainer ul {
        width: 100%;
        height: 100%;
    }

    .navContainer ul {
        flex-direction: row;
        align-items: flex-end;
        justify-content: center;
    }

    .navContainer ul li {
        width: calc(20% - 40px);
    }

    .navContainer ul li a {
        padding: 8px 0 12px 0;
        flex-direction: column;
        justify-content: center;
        font-size: var(--text-preset-5);
    }

    .navContainer ul li a img {
        margin-right: 0;
        margin-bottom: 8px;
    }

    .logoContainer,
    .minimizeButtonContainer {
        display: none;
    }
}

@media only screen and (max-width: 767px) {
    .navContainer ul li {
        width: calc(20% - 8px);
    }

    .navContainer ul li p {
        display: none;
    }

}