.budgetLatestSpendingContainer {
    padding: 20px;
    display: flex;
    flex-direction: column;
    background-color: var(--beige-100);
    border-radius: 8px;
}

.budgetLatestSpendingContainer>div:first-child {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.title {
    font-size: var(--text-preset-3);
    font-weight: bold;
    color: var(--grey-900);
}

.link {
    font-size: var(--text-preset-4);
    color: var(--grey-500);
}

.link:hover {
    text-decoration: underline;
}

.link::after {
    content: url('../../../public/icon-caret-right.svg');
    width: 12px;
    height: 12px;
    margin-left: 12px;
}

.list {
    display: flex;
    flex-direction: column;
}

.list li {
    margin-bottom: 12px;
    padding-bottom: 12px;
    border-bottom: 1px solid var(--grey-300);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.list li:last-child {
    border-bottom: 0;
    padding-bottom: 0;
    margin-bottom: 0;
}

.list li>div:first-child {
    display: flex;
    align-items: center;
}

.list li>div:first-child img {
    margin-right: 16px;
    border-radius: 50%;
}

.list li .name,
.list li .amount {
    font-size: var(--text-preset-5);
    font-weight: bold;
    color: var(--grey-900);
}

.list li>div:last-child {
    display: flex;
    flex-direction: column;
}

.list li .amount {
    margin-bottom: 4px;
}

.list li .date {
    font-size: var(--text-preset-5);
    color: var(--grey-500);
}

@media only screen and (max-width: 767px) {
    .list li>div:first-child img {
        display: none;
    }
}